<!-- report-pothole-dialog.component.html -->
<h2 mat-dialog-title>Report a Pothole</h2>
<mat-dialog-content class="report-dialog-content">
  <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" placeholder="Enter type of issue">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Submitted">Submitted</mat-option>
        <mat-option value="InProgress">In Progress</mat-option>
        <!-- You might not need the Resolved option in the report form -->
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" placeholder="Enter location">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Describe the issue"></textarea>
    </mat-form-field>

    <div>
    <input type="file" (change)="onFileSelected($event)">
    <label for="file" mat-raised-button>Upload Picture or Documents</label>
    <span>{{ fileName }}</span>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [disabled]="!reportForm.valid" (click)="onSubmit()">Submit Issue</button>
</mat-dialog-actions>
